In [18]:
import pandas as pd
import json
import datetime as dt

In [19]:
data = pd.read_json('data.json')
df = data.copy()
df.dtypes

Intitulé du poste      object
Date de publication    object
lieu                   object
competences            object
Type de poste          object
dtype: object

In [20]:
df.shape

(230, 5)

In [21]:
col1 = [item[0].replace('\n', '') for item in df['Intitulé du poste']]
df['Intitulé du poste'] = col1

col2 = [item.replace('\n', '') for item in df['Date de publication']]
df['Date de publication'] = col2

col3 = [item[0].replace('\n', '') for item in df['lieu']]
df['lieu'] = col3

col4 = [' '.join(item).replace('\n', '').replace(' ', ', ') for item in df['competences']]
df['competences'] = col4

col5 = [''.join(item).replace('\n', ', ').replace(', ,', '').strip() for item in df['Type de poste']]
df['Type de poste'] = col5

df

,Intitulé du poste,Date de publication,lieu,competences,Type de poste
0,Data Analyst - Publicité,postée il y a 21 jours,Paris,"sql, t-sql, outils","Sept Lieues SAS, Cabinet de recrutement , CDI ..."
1,Data analyst - H/F,postée il y a 1 mois,"Paris, La Défense","support, outils, agile, design, big, data","EDF France, Client final , CDI - temps plein,"
2,Customer Data Analyst (H/F),postée il y a 27 jours,Paris,"crm, data, quality, sql, sas, python","Hermès, Client final , CDI - temps plein,"
3,Master Data Analyst H/F,postée il y a 21 jours,Moussy-le-Vieux,"si, support, sap","TEREOS, Client final , CDI - temps plein,"
4,Portfolio Data Analyst H/F,postée il y a 3 jours,France,"outils, support, decisionnel, sql, test","Safran-Group, Client final , CDI - temps plein,"
...,...,...,...,...,...
225,SAP Fiori Developer (H/F),postée il y a 27 jours,Saint-Ouen,"sap, abap, progiciel, système, support","Groupe ENGIE, Client final , CDI - temps plein,"
226,ENGIE Digital - Architecte Données (H/F),postée il y a 3 jours,Paris,"digital, outils, securité, sécurité, t-sql","Groupe ENGIE, Client final , CDI - temps plein,"
227,Quality Assurance - Lead QA - Lead Acceptance H/F,postée il y a 2 heures,Boulogne-Billancourt,"test, serveur, jquery, mobile, tdd","Francaise des jeux, Client final , CDI - temps..."
228,DATA SCIENTIST,postée il y a 16 jours,NEUILLY SUR SEINE,"nosql, unix, java, machine, learning, linux","BEEZEN, ESN , CDI - temps plein,"
229,Datascientist (H/F),postée il y a 3 jours,Saint-Ouen,"big, data, support, python, réseaux, securité","Groupe ENGIE, Client final , CDI - temps plein,"

In [22]:
y = [' '.join(element.split()[4:6]) for element in df['Date de publication']]
len(y)

230

In [23]:
date0 = dt.date(2023, 3, 15)
dates = []
for item in y:
    dates.append(item)
len(dates)

230